PORT=4000
REACT_APP_AMPLITUDE_RATE = 0
REACT_APP_API_URL = https://fit4me-dev-backend.lampawork.com/api
REACT_APP_COMPANY_ADDRESS = 6122 BRIDGE STREET, KINGTON, UK, HR5 3DJ
REACT_APP_FB_PIXEL_ID = 848481950145814
REACT_APP_FB_PIXEL_TOKEN_ID = EAAbhq9cEzrMBOys3LE46yp2lUq2qyU6nIWiZBacYEdJRTnQvN2SngEXpb6r8t1hBve237MyD1V4FDVLsr2BSRAz1XLDupZCtKquEGZA8ZCBcAbzoKy4NOT6uZBp77pBIh2nmiDu1zXZCWPnlFO7rYPoPLyLg9qwN6CRM16UCU5vi67W5QBnOEc5qZBy5X6Ts5jP8wZDZD
REACT_APP_HOMEPAGE_PATH=
REACT_APP_MODE = dev
REACT_APP_PUBLIC_URL = http://localhost:4000
REACT_APP_SENTRY_KEY = https://bc10d72f21d0f68be12923373f7e2f1f@o4510124779438080.ingest.us.sentry.io/4510124827541505
REACT_APP_SENTRY_RATE = 1.0
REACT_APP_SUPPORT_EMAIL = support@fit4me.io
REACT_APP_UNSUBSCRIBE_LINK = https://dev.fit4me.io/unsubscribe/v1/?token=
REACT_APP_WEB_APP_LINK =
REACT_APP_OTP_LINK = https://fit4me.io